#[user]
#	       name = ...
#	       email = ...
#	       username = ...
[init]
      	defaultBranch = master
[core]
	      editor = nvim
	      pager = less -F -X
[credential]
        helper = "cache --timeout=86400"
